
@{
    ViewData["Title"] = "MyView";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="text-center">
        @ViewBag.Greeting Просмотр представления.

        <p>Мы собираемся устроить вечеринку <br> (Что то лучше сделать: добавьте картинки или что то другое).</p>

        <a class="btn btn-primary" asp-action="RsvpForm">Открыть Rsvp</a>
    </div>
</body>
</html>