
@{
    ViewData["Title"] = "MyView";
}

<h2>MyView</h2>

@ViewBag.Greeting Просмотр представления.

<p>Мы собираемся устроить вечеринку <br> (Что то лучше сделать: добавьте картинки или что то другое).</p>

